@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}
/* shared style */
.mb{
    margin-bottom:15px;
}
.color-text{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.pink{
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text20{
color: #534C64;
font-size: 1.25rem;
font-weight: 500;
line-height: 30px;
}
.text18{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
}
.text1{
font-size: 2.8rem;
font-weight: 700;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}

.center{
    text-align: center;
}
/* nav section */

header{
    width:100%;
   
}
.nav-container{
    width:100%;
    height:100px;
   padding-top: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav{
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px auto 40px auto;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.logo img{
    width:86px;
    height:40px;
}
.menu, nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}
nav ul li a{
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 1.1rem;
    font-weight: 500;
    color:#3C354F;
    border:none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width:262px;
    height:56px;
}
.fa-youtube-play{
    font-size: 23px !important;
     color:#F61C0D;
    margin-top: -2px;
}
.fa-tiktok{
    width:24px;
    height:24px;
    margin-top: 3px;
}
/* banner section */
.banner-div{
    width:100%;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left center;
    margin-top:-27px;
}
.banner-container{
    width:80%;
    margin:30px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:68px;
}
.banner-title{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-heading{
font-size: 3rem;
color:#0B0223;
font-weight: 600;
margin-bottom:15px;
}
.banner-title h1{
font-size: 95px;
font-weight: 800;
margin-bottom: 24px;
}
.banner-icon{
    width:24px;
    height:24px;
    color:#FF42A5;
    margin-right: 4px;
    margin-top:5px;
}
.banner-btn{
    display: flex;
    margin-top:40px;
    gap:15px;
    margin-left:-10px;
}
.btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color:#FFF;
    border:none;

}
.btn1{
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}
.btn2{
background: #4EC5F7;
}

.banner-img img{
width:100%;
height: auto;
height:auto;
margin-left:13px;
}
/* gamer section */
main{
    width:100%;
    margin-top:-33px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-section{
    width:80%;
    height:600px;
    margin:30px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    
}
.gamer-img{
    width:100%;

}
.gamer-img img{
    width:90%;
}
.gamer-content{
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.gamer-para{
    width:520px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top:24px;
}
.gamer-para h3{

color: #534C64;
font-size: 30px;
font-weight: 700;
line-height: 45px;
}

/* video section */
.title h1{
    margin-top:120px;
}
.video-container{
    width:80%;
    margin:120px auto;
    
}
.videos-div{
    width:100%;
    flex-direction: row;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.video-card{
    margin-top:80px;
    position: relative;
    
}
.card{
width:348px;
height:483px;
border-radius: 16px;
gap:20px;
display:flex;
justify-content: center;
flex-direction: column;
align-items: flex-start;

}
.card img{
    width:342px;
    height:400px;
}
.top-card{
    border:1px solid #F948B2;
    width:342px;
    height:400px;
    background:rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    border-radius: 16px;
    position:absolute;
    top:0;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin:top;
   transition:all 0.5s ease;
}
.card:hover ~.top-card{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
   
}

/* feature section */

.feature-section{
    width:80%;
    margin:40px auto ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.feature-title{
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap:15px;
}
.feature-img{
    width:50%;
    height:850px;
}
.feature-img img{
    width:635px;
    height:650px;
    margin-left:100px;
}
.top-img img{
    width:318px;
    height:365px;
    border-radius: 8px;
    position:relative;
    top: -275px;
    left: -112px;
}
/* .feature-img2{
    width:80%;
}
.feature-img2 img{
    width:710px;
    height:650px;
    border-radius: 8px;
    margin-right: 30px;
    margin-left:0px;
}
.top-img2 img{
    width:318px;
    height:365px;
    border-radius: 8px;
    position:relative;
    top: -274px;
    right: -460px;
}
.feature-title2{
    width:60%;
    margin-left:65px;
} */
/* responsive part */

@media screen and (max-width :576px) {
    .nav-container{
        width:100%;
        height:auto;
       padding-top: 40px;
        background:none;
        box-shadow: none;
    }
    nav{
        width:100%;
        flex-direction: column;
        gap:50px;
    }

    .menu, nav ul, .gamer-section , .feature-section{
        width:100%;
        flex-direction: column;
        gap:36px;
    }
    .nav-btn{
        margin-top: 35px;
    }
    .banner-div{
       background: none;
    }
    .banner-container{
        width:90%;
        flex-direction: column-reverse;
        justify-content: center;
        margin-left:20px;
    }
    .banner-title {
        background-image: url("images/Group\ 14.png");
        background-size: 100%;
        height:500px;
        width:100%;
        align-items: center;
    }
    .banner-heading{
        margin-bottom: 10px;
        font-size:2.1rem;
        margin-top:6px;
    }
    .banner-title h1{
        font-size: 60px;
        margin-bottom:15px;
    }
    .text20{
        font-size: 16px;
       
    }
    .btn{
        padding: 15px 30px;
        font-size: 15px;
    }
    main{
        background: white;
        margin-top: 15px;
    }
    .gamer-content, .card, .feature-title{
        width:100%;
        align-items: center;
    }
.gamer-content p, .feature-title p{
    width:80%;
    text-align: center;
}
.gamer-para span {
    width:100%;
    text-align: center;
}

.gamer-para h3  {
    text-align: center;
    width:100%;
    font-size: 25px;
}
.video-container {
    width:100%;
   
}
.title h1{
    margin-top:140px;
    width:100%;
    font-size: 35px;
}
.title p{
    font-size: 16px;
}
.videos-div{
    flex-direction: column;
    gap:0px;
}
.video-card{
    margin-top: 40px;
}
.top-card{
    left:28px;
    top:16px;
}
.card p{
    font-size:14px;
}
.feature-title h1{
    width:80%;
    text-align: center;
}
.feature-img{
    width:100%;
}
.feature-img img{
    width:100%;
    height:auto;
    margin-left:22px;
}
.top-img img{
    width:250px;
    height:250px;
    top:-170px;
    left:-20px;
}

}