@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

.color-text{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.pink{
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text20{
color: #534C64;
font-size: 1.25rem;
font-weight: 500;
line-height: 30px;
}
.text18{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
}
.text1{
font-size: 2.8rem;
font-weight: 700;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}

.center{
    text-align: center;
}
/* nav section */

header{
    width:100%;
}

nav{
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:50px auto;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.logo img{
    width:86px;
    height:40px;
}
.menu, nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}
nav ul li a{
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 1.1rem;
    font-weight: 500;
    color:#3C354F;
    border:none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width:262px;
    height:56px;
}
.fa-youtube-play{
    font-size: 23px !important;
     color:#F61C0D;
    margin-top: -2px;
}
.fa-tiktok{
    width:24px;
    height:24px;
    margin-top: 3px;
}
/* banner section */
.banner-container{
    width:80%;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:68px;
}
.banner-title{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-heading{
font-size: 3rem;
color:#0B0223;
font-weight: 600;
margin-bottom:15px;
}
.banner-title h1{
font-size: 95px;
font-weight: 800;
margin-bottom: 24px;
}
.banner-icon{
    width:24px;
    height:24px;
    color:#FF42A5;
    margin-right: 4px;
    margin-top:5px;
}
.banner-btn{
    display: flex;
    margin-top:40px;
    gap:15px;
    margin-left:-10px;
}
.btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color:#FFF;
    border:none;

}
.btn1{
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}
.btn2{
background: #4EC5F7;
}

.banner-img img{
width:100%;
height: auto;
height:auto;
margin-left:13px;
}











/* responsive part */

@media screen and (max-width :576px) {
    nav{
        width:100%;
        flex-direction: column;
        gap:50px;
    }

    .menu, nav ul{
        width:100%;
        flex-direction: column;
        gap:36px;
    }
    .nav-btn{
        margin-top: 35px;
    }
    .banner-container{
        width:100%;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner-title{
        width:100%;
        align-items: center;
    }
    .banner-heading{
        margin-bottom: 10px;
        font-size:2.5rem;
        margin-top:50px;
    }
    .banner-title h1{
        font-size: 60px;
        margin-bottom:15px;
    }
    .text20{
        font-size: 16px;
       
    }
    .btn{
        padding: 15px 30px;
        font-size: 15px;
    }
}